%form{id: 'f', action: url('/logs'), method: 'get'}
  %input{type: 'radio', id: 'range', name: 'w', value: 'range',
         checked: (@when == :range) ? 'checked' : nil}
  %label{for: 'range'} Date range
  &nbsp;
  %input{type: 'radio', id: 'latest', name: 'w', value: 'latest',
         checked: (@when == :latest) ? 'checked' : nil}
  %label{for: 'latest'} Latest
  &nbsp;
  %input{type: 'radio', id: 'alltime', name: 'w', value: 'all',
         checked: (@when == :all) ? 'checked' : nil}
  %label{for: 'alltime'} All time
  &emsp;
  %select{id: 'chan', name: 'chan'}
    - @channels.each do |chan|
      %option{value: chan, selected: (chan == params['chan'])}= chan
  &emsp;
  %input{type: 'radio', id: 'justurls', name: 'urls', value: 'urls',
         checked: (params['urls'] == 'urls') && 'checked'}
  %label{for: 'justurls'} URLs
  %input{type: 'radio', id: 'fulltext', name: 'urls', value: 'text',
         checked: (params['urls'] == 'urls') ? nil : 'checked'}
  %label{for: 'fulltext'} Everything
  &emsp;
  %input{type: 'text', id: 'q', name: 'q', value: params['q']}
  %input{type: 'submit', value: 'Search'}

  #rangesel{style: (@when == :range) ? nil : "display: none;"}
    %label{for: 'from'} From:
    %input{type: 'text', id: 'from', name: 'from', size: 20, value: params['from']}
    %label{for: 'to'} To:
    %input{type: 'text', id: 'to', name: 'to', size: 20, value: params['to']}

:javascript
  $('input[name="w"]').change(function() {
    var rs = $('#rangesel');
    if ($('input[name="w"]:checked').val() == "range") {
      rs.show();
    } else {
      rs.hide();
    }
  });

%hr

%p
  - if @from && @to
    Logs from #{@from.localtime.strftime '%b %d %Y, %H:%M %Z'} to #{@to.localtime.strftime '%b %d %Y, %H:%M %Z'}
    (#{@from.utc.strftime '%Y-%m-%dT%H:%MZ'} - #{@to.utc.strftime '%Y-%m-%dT%H:%MZ'})
  - else
    Logs for all time
  &emsp;
  - if @logs.length == 0
    No logs for you!
  - else
    #{@logs.length} #{params['urls'] == 'urls' ? 'URLs' : 'lines'}:

#logs
  - @logs.each do |log|
    .entry= log

%hr

%label{for: 'timestamp'} Timestamp:
%select{id: 'timestamp', name: 'timestamp'}
  - OVERRIDE_STAMPS.each_with_index do |(fmt, s), i|
    %option{value: i, selected: (i == @stampi)}= s

&emsp;
%a{href: url('/logs/golast')} golast

- if @chan
  &emsp;
  %a{href: url("/logs/golast?chan=#{CGI.escape @chan}")} golast #{@chan}

:javascript
  $('#timestamp').change(function() {
    $('#stamp').remove();
    var s = $('#timestamp').val();
    $('#f').append("<input type='hidden' id='stamp' name='stamp' value='" + s + "' />");
  });
