%form{action: '/logs', method: 'get'}
  %label{for: 'from'} From:
  %input{type: 'text', id: 'from', name: 'from', size: 10, value: params['from']}
  %label{for: 'to'} To:
  %input{type: 'text', id: 'to', name: 'to', size: 10, value: params['to']}
  &emsp;
  %select{id: 'chan', name: 'chan'}
    - @channels.each do |chan|
      %option{value: chan, selected: (chan == params['chan'])}= chan
  &emsp;
  %input{type: 'radio', id: 'justurls', name: 'urls', value: 'urls',
         checked: (params['urls'] == 'urls') && 'checked'}
  %label{for: 'justurls'} URLs
  %input{type: 'radio', id: 'fulltext', name: 'urls', value: 'text',
         checked: (params['urls'] == 'urls') ? nil : 'checked'}
  %label{for: 'fulltext'} Everything
  &emsp;
  %input{type: 'text', id: 'q', name: 'q', value: params['q']}
  %input{type: 'submit', value: 'Search'}

%hr

%p
  %a{href: url('/logs/golast')} golast
  - if @chan
    &emsp;
    %a{href: url("/logs/golast?chan=#{CGI.escape @chan}")} golast #{@chan}

%p
  Logs from #{@from.localtime.strftime '%b %d, %H:%M %Z'} to #{@to.localtime.strftime '%b %d, %H:%M %Z'}
  &emsp;
  - if @logs.length == 0
    No logs for you!
  - else
    #{@logs.length} #{params['urls'] == 'urls' ? 'URLs' : 'lines'}:

#logs
  - @logs.each do |log|
    .entry= log
