!!! 5
%html
  %head
    %title= @title || request.path_info
    %link{href: url('/favicon.gif'), rel: 'icon', type: 'image/gif'}/
    %link{href: url('/style/site.css'), media: 'screen', rel: 'stylesheet', type: 'text/css'}/
  %body
    #navbar
      .lead RUBYBOT WEB
      = navitem 'account'
      = navitem 'logs'
      = navitem 'db'
    #content
      = yield
